[Desktop Entry]
Type=Application
Name=Init Peach Desktop
Comment=Initialization of peach desktop for gnome
Exec=/usr/lib/peach/initialize_gnome_desktop.py
OnlyShowIn=GNOME
